body,
html {
    height: 100%;
    background-color: rgb(226, 232, 240);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-row: 1 / span 5;
    padding-left: 1rem;
    padding-top: 10px;

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
}

.sidebar img,
.icons img {
    width: 30px;
    height: 30px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    align-self: center;
    font-weight: bold;
}

.sidebar>div {
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: .2rem;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: .7fr 3fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
}

.projects {
    padding: 1rem;
    background-color: lightgray;
}

.nav,
.header {
    background-color: white
}

.container>*:not(.sidebar, .header, .nav) {
    padding: 10px;
}

.search__profile {
    display: flex;
    /* justify-content: space-between; */
}

.header__search {
    flex: 2;
}

.header__profile {
    flex: 1;
    display: flex;
}

.notification__icon {
    margin-left: auto;
}

.projects {
    grid-row: 3 / span 3;
}

.header__search,
.header__profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li {
    list-style: none;
    background-color: rgb(25, 146, 212);
    border-radius: 2rem;
    padding-top: 6px;
    padding-bottom: 8px;
    width: 70px;
    color: white;
    display: flex;
    justify-content: center;
}

.nav__links {
    gap: 20px;
}

.nav__links>li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 11px;
}

.nav__user {
    gap: 15px;
}

.nav__links,
.nav__user {
    display: flex;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    column-gap: 20px;
}

.projects__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projects__cards>.card {
    display: grid;
    grid-template-rows: 150px min-content;
    gap: 10px;
}

.information__heading {
    font-weight: bold;
    font-size: .9rem;
}

.information {
    word-break: break-word;
    overflow: hidden;
}

.icons {
    justify-self: end;
}

.projects__cards,
.sidebar__cards,
.projects__list,
.projects__sidebar {
    padding-top: 10px;
}


.sidebar__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: repeat(2, min-content);
}

hr {
    margin: 10px 0;
}

.trend img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.nav__user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.header__image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.trend {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 10px;
}

.trending__card {
    margin-top: 10px;
}

.trending__card>div:not(:last-child) {
    margin-bottom: 10px;
}

.search__profile>div>img:first-child {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.utility-padding {
    padding: 7px 2rem;
}

input[type="search"] {
    border-radius: 3rem;
    border: 1px solid #ccc;
    background-color: #eee9e9;
    font-size: 0.9rem;
    width: 70%;
    outline: none;
    padding: 1.8px 6px;
}